@tailwind base;
@tailwind components;
@tailwind utilities;

.blue-gradient {
  background: #348ed6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #78b2df,
    #0b3a6f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #78b2df,
    #637786
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.border-gradient {
  @apply bg-gradient-to-r from-blue-500 via-purple-500 to-teal-500;
}

/* 
Gradient 1: #005b92 to #78b2df
Gradient 2: #0b3a6f to #348ed6
Gradient 3: #01345d to #78b2df
Gradient 4: #348ed6 to #005b92
Gradient 5: #0b3a6f to #78b2df 
*/

/* 
1: #3a8dc2 to #a7d3ef
2: #4f6fa2 to #a0c6e8
3: #3e7b9f to #a7d3ef
4: #78b2df to #3a8dc2
5: #4f6fa2 to #a7d3ef
*/
