@tailwind base;
@tailwind components;
@tailwind utilities;

.blue-gradient {
  background: #348ed6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c0bdbd,
    #0b3a6f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c0bdbd,
    #348ed6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Gradient 1: #005b92 to #78b2df
Gradient 2: #0b3a6f to #348ed6
Gradient 3: #01345d to #78b2df
Gradient 4: #348ed6 to #005b92
Gradient 5: #0b3a6f to #78b2df */
